<a href="https://colab.research.google.com/github/labade/GitHub/blob/master/IA_SQL_Test_via_Git_LAbade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCTIONS

PLEASE READ EVERYTHING!

This is one of two parts to the technical test for Data Analyst roles at notonthehighstreet. This part is designed to test your SQL skills. We use this python powered workbook so you can actually run some queries but you do **not** need any Python experience. In fact, please do not write any Python code. To edit queries simply click on the cells below each question and edit the """SELECT...""" component.


First things first, create a new copy of this Jupyter Colab book from the menu options above so you can edit it. Avoid using "playground mode" to avoid losing any work due to browser issues/crashes etc.

To make your submission you will need to download your workbook as an '.ipynb' file and email it back to us within the three hour period.  **Ensure ALL your queries are runnable** so we can validate your findings. If your queries won't run we may not be able to assess your work.

This part of the task shouldn't take more than about an hour.

If you have problems with the runtime or need to reset it (without losing your code) you can "factory reset" the runtime in the menu above.

# Setup

The first thing you need to do is make sure you can access the sample database file:

`music.db`

Run all the cells in this "Setup" section to download the files and test they loaded correctly into the environment.

In [0]:
! git clone https://github.com/noths-ds/ia_challenge

After running the above cell please make sure that you can see the files `music.db` in the folder "ia_challenge" (see folder tab on the left). It may take a few seconds to appear. If you need to redownload for whatever reason, you can delete or rename the old "ia_challenge" folder.

Now run the cell below (you can ignore the message about the session crashing, it's just restarting the session to update a python package).

In [0]:
!sudo add-apt-repository -y ppa:dqlite/stable
!sudo apt update
!sudo apt-get install -y sqlite3
!sqlite3 --version
import os
os._exit(00)

Run the cell below to create the small helper function to make it simpler to run queries against the music database.

In [0]:
import sqlite3
import pandas as pd

# NOTE: If you have the file 'music.db' saved somewhere else than the above 
# you will have modify the path below.
def run_query(query):
    """
    Runs the query against the music.db database. If the query succeeds, the result
    is returned as a Pandas DataFrame. If the query fails, it prints the error message.
    :param conn: the Connection object
    :return: A DataFrame containing the result of the query
    """
    try:
        # Modify this path if your copy of the file is somewhere else than at
        # /ia_challenge/products.db.
        #                     |   |   |   |   |   |
        #                     v   v   v   v   v   v
        with sqlite3.connect('ia_challenge/music.db') as conn:
            return pd.read_sql_query(query, conn)
    except pd.io.sql.DatabaseError as e:
        print(str(e))

Let's use the above function to check the data loaded properly...

In [0]:
run_query("""
select
  *
from
  artists
""").head()

In [0]:
run_query("""
  select
    *
  from
    playlists
""").head()

# Task 1 - SQL

The goal of the first task is to test your SQL proficiency on a sample database. SQLite is a Postgres type DB which also supports advanced functionality such as window functions and CTEs.

Please read each question very carefully.

DATABASE DESCRIPTION

The database has several tables:

`employees` table stores employees data such as employee id, last name, first name, etc. It also has a self referential field named `ReportsTo` to specify who reports to whom.

`customers` table stores customers data.

`invoices` & `invoice_items` tables: these two tables store invoice data. The `invoices` table stores invoice header data and the `invoice_items` table stores the invoice line-items data. To get the total cost associated with a line-item multiply `UnitPrice` by `Quantity`.

`artists` table stores artists data. It is a simple table that contains only the artist id and name.

`albums` table stores data about a list of tracks. Each album belongs to one artist. However, one artist may have multiple albums.

`media_types` table stores media types such as MPEG audio and AAC audio file.

`genres` table stores music types such as rock, jazz, metal, etc.

`tracks` table store the data of songs. Each track belongs to one album.

`playlists` & `playlist_track` tables: `playlists` table store data about playlists. Each playlist contains a list of tracks. Each track may belong to multiple playlists. The relationship between the `playlists` table and `playlists_track` table is many-to-many. The `playlist_track` table is used to reflect this relationship.

DATABASE DESIGN

If you cannot see an image describing the structure of the DB here please contact Antonio or Greg!
![Music DB](https://drive.google.com/uc?export=view&id=1bQb8jYeZ66nhuWOgpaOOPHH_j8KQY1rB)

Q1. Please write a query to determine, by genre name, the count of tracks, ordered by count of tracks descending

In [0]:
# Please fill in your query below and do not use any additional Python packages

query = """
SELECT...
"""

run_query(query) # PLS DO NOT CHANGE THIS LINE

Q2. Please write a query which returns, for each genre, the ID and name of the single most popular track in that genre, according to the number of playlists it appears on (include this column too). Please use track name in A-Z order to tiebreak. Please order the final list by genre name A-Z.

In [0]:
# Please fill in your query below and do not use any additional Python packages

query = """
SELECT...
"""

run_query(query) # PLS DO NOT CHANGE THIS LINE

Q3. Please write a query that shows the total number of times **all** tracks (ID and name) have been bought (i.e. from `invoice_items.Quantity`) and the total amount of associated costs, from invoices dated for the inclusive period 2009-01-01 to 2014-01-01. Please order tracks by total purchases descending and track id ascending.

In [0]:
# Please fill in your query below and do not use any additional Python packages

query = """
SELECT...
"""

run_query(query) # PLS DO NOT CHANGE THIS LINE